.WelcomeScreen {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  color: #553c7d;
  
}

.WelcomeScreen h1 {
  color: #553c7d;
  
}

.WelcomeScreen h4 {
  color: #553c7d;
  letter-spacing: -0.03rem;
  font-weight: 200;
  margin-bottom: 1.6rem;
}

.pic {
  margin:1rem 0rem;
  max-width: 42%;
  height: auto;
}



